---
- name: Source Gitea secret
  kubernetes.core.k8s_info:
    kind: Secret
    name: "gitea-admin"
    namespace: "{{ gitea_namespace }}"
  register: gitea_secret_data

- name: Set secrets facts
  set_fact:
    gitea_username: "{{ gitea_secret_data.resources[0].data.git_user | b64decode }}"
    gitea_password: "{{ gitea_secret_data.resources[0].data.git_password | b64decode }}"
    gitea_access_token: "{{ gitea_secret_data.resources[0].data.git_access_token | b64decode }}"
