---
ingress_domain: "{{ ingress_domain }}"
ingress_protocol: "{{ ingress_protocol }}"
dynatrace_tenant_url: "{{ dynatrace_tenant_url }}"
dynatrace_paas_token: "{{ dynatrace_paas_token }}"
dynatrace_api_token: "{{ dynatrace_api_token }}"