---
# Ingress
ingress_domain: "{{ ingress_domain }}"
ingress_protocol: "{{ ingress_protocol }}"
# Dynatrace
dynatrace_tenant_url: "{{ dynatrace_tenant_url }}"
dynatrace_paas_token: "{{ dynatrace_paas_token }}"
dynatrace_api_token: "{{ dynatrace_api_token }}"
# Cloud Automation
cloud_automation_tenant_url: "{{ ca_tenant_url }}"
cloud_automation_api_token: "{{ ca_api_token }}"
# Features
feature_oneagent: false
feature_activegate: false
feature_gitea: false
feature_gitlab: false
feature_jenkins: false
feature_dashboard: false
feature_keptn: false
feature_awx: false
feature_cloud_automation: false