---
- set_fact:
    is_ca_flavor_change: false

- block:
  - set_fact:
      is_ca_flavor_change: true
  - name: Update Cloud Automation flavor
    include_role:
      name: config-v2
      tasks_from: set-var
    vars:
    - var_key_to_set: "cloud_automation_flavor"
    - var_value_to_set: "KEPTN"
  when: cloud_automation_flavor != "KEPTN"

#Ensure Gitea is installed when we are using Keptn to have auto repository provisioning
- include_role:
    name: gitea

- name: Keptn - Source Gitea endpoints
  include_role: 
    name: gitea
    tasks_from: source-endpoints.yml
  when: gitea_internal_endpoint is not defined

- name: Keptn - Source Gitea secrets
  include_role: 
    name: gitea
    tasks_from: source-secret.yml

- name: Keptn - Install Gitea Provisioner service
  include: roles/keptn/tasks/gitea-provisioner-service.yml

- name: Install Keptn CLI
  include_role:
    name: keptn-cli
  vars:
  - force_install: "{{ is_ca_flavor_change | bool }}"

- name: Deploy Keptn on Kubernetes cluster
  kubernetes.core.helm:
    name: keptn
    chart_ref: "https://github.com/keptn/keptn/releases/download/{{ keptn_version }}/keptn-{{ keptn_version }}.tgz"
    release_namespace: "{{ keptn_namespace }}"
    create_namespace: true
    wait: true
    wait_timeout: 15m
    values:
      control-plane:
        bridge:
          lookAndFeelUrl: "{{ keptn_look_and_feel_url }}"
        features:
          automaticProvisioningURL: "http://keptn-gitea-provisioner-service.{{ keptn_namespace }}"
  register: keptn_helm_chart

- name: Template ingress file
  ansible.builtin.template:
    src: keptn-ingress.yml.j2
    dest: /tmp/keptn-ingress.yml
    owner: "{{ ace_box_user }}"
    group: "{{ ace_box_user }}"
    mode: '0644'

- name: Create ingress
  kubernetes.core.k8s:
    state: present
    src: /tmp/keptn-ingress.yml
    namespace: "{{ keptn_namespace }}"
  register: keptn_ingress

- name: Keptn - Source Keptn secrets
  include: roles/keptn/tasks/source-secret.yml

- name: Keptn - Source Keptn endpoints
  include: roles/keptn/tasks/source-endpoints.yml
      
- name: Keptn - Authenticate CLI
  shell: "/usr/local/bin/keptn auth --api-token {{ keptn_api_token }} --endpoint {{ keptn_internal_endpoint }}"
  when: keptn_helm_chart.changed or keptn_ingress.changed

- name: Keptn - Install JMeter service
  include: roles/keptn/tasks/jmeter-service.yml

- name: Keptn - Install Dynatrace service
  include: roles/keptn/tasks/dynatrace-service.yml
