---
- name: Determine Cloud Automation flavor
  set_fact:
    cloud_automation_flavor: "CLOUD_AUTOMATION"
  when: (ca_tenant_url is defined) and (ca_tenant_url != None) and (ca_tenant_url|length > 0) and (ca_api_token is defined) and (ca_api_token != None) and (ca_api_token|length > 0)

- name: ACE Config - Prepare {{ ace_config_file_path }}
  template:
    src: ../templates/ace.config.yml.j2
    dest: "{{ ace_config_file_path }}"
    owner: "{{ ace_box_user }}"
    group: "{{ ace_box_user }}"
    mode: '0644'
