---
- name: Create namespace
  kubernetes.core.k8s:
    name: "{{ jenkins_namespace }}"
    api_version: v1
    kind: Namespace
    state: present

- name: Add chart repo
  kubernetes.core.helm_repository:
    name: jenkins
    repo_url: "https://charts.jenkins.io"

- include_tasks: roles/jenkins/tasks/create-secret.yml

- block:
  - name: Source Gitea secrets
    include_role:
      name: gitea
      tasks_from: source-secret
  - set_fact:
      git_username: "{{ gitea_username }}"
      git_password: "{{ gitea_password }}"
      git_access_token: "{{ gitea_access_token }}"
      git_domain: "gitea.{{ ingress_domain }}"
  when: git_flavor is defined and git_flavor == "GITEA"

- block:
  - name: Source Keptn secrets
    include_role:
      name: keptn
      tasks_from: source-secret
  - include_role:
      name: keptn
      tasks_from: source-endpoints
  - set_fact:
      ca_endpoint: "{{ keptn_endpoint|default('') }}"
      ca_bridge: "{{ keptn_bridge|default('') }}"
      ca_api_token: "{{ keptn_api_token|default('') }}"
  when: cloud_automation_flavor is defined and cloud_automation_flavor == "KEPTN"

- block:
  - name: Source Cloud Automation secrets
    include_role:
      name: cloudautomation
      tasks_from: source-secret
  - set_fact:
      ca_endpoint: "{{ cloud_automation_endpoint|default('') }}"
      ca_bridge: "{{ cloud_automation_bridge|default('') }}"
      ca_api_token: "{{ cloud_automation_api_token|default('') }}"
  when: cloud_automation_flavor is defined and cloud_automation_flavor == "CLOUD_AUTOMATION"

- block:
  - name: Source registry url
    kubernetes.core.k8s_info:
      kind: Service
      name: "registry"
      namespace: "container-registry"
    register: container_registry_svc_data
  - set_fact:
      docker_registry_url: "localhost:{{ container_registry_svc_data.resources[0].spec.ports[0].nodePort }}"

- block:
  - name: Source Kubernetes endpoint
    kubernetes.core.k8s_info:
      kind: Service
      name: "kubernetes"
      namespace: "default"
    register: kubernetes_svc_data
  - set_fact:
      kubernetes_api_endpoint: "https://{{ kubernetes_svc_data.resources[0].spec.clusterIP }}"

- block:
  - name: Source Dynatrace Operator ServiceAccount
    kubernetes.core.k8s_info:
      kind: ServiceAccount
      name: "dynatrace-kubernetes-monitoring"
      namespace: "dynatrace"
    register: dt_operator_sa_data
  - name: Source Dynatrace Operator Secret
    kubernetes.core.k8s_info:
      kind: Secret
      name: "{{ dt_operator_sa_data.resources[0].secrets[0].name }}"
      namespace: "dynatrace"
    register: dt_operator_secret_data
  - set_fact:
      dt_operator_kube_bearer_token: "{{ dt_operator_secret_data.resources[0].data.token | b64decode }}"

- name: Source DT Synthetic node id
  include_role:
    name: dt-activegate
    tasks_from: source-node-id

- name: Template Helm values file
  ansible.builtin.template:
    src: jenkins-values.yml.j2
    dest: "./roles/{{ role_name }}/files/jenkins-values.yml"
    owner: "{{ ace_box_user }}"
    group: "{{ ace_box_user }}"
    mode: '0644'

- name: Install
  kubernetes.core.helm:
    name: jenkins
    chart_ref: jenkins/jenkins
    chart_version: "{{ jenkins_helm_chart_version }}"
    release_namespace: "{{ jenkins_namespace }}"
    create_namespace: true
    wait: true
    wait_timeout: 15m
    values_files:
      - "./roles/{{ role_name }}/files/jenkins-values.yml"
