---
- ansible.builtin.command: git init
  args:
    chdir: "{{ repo_src }}"

- ansible.builtin.command: git checkout -b main
  args:
    chdir: "{{ repo_src }}"
  ignore_errors: true

- ansible.builtin.command: git add .
  args:
    chdir: "{{ repo_src }}"

- ansible.builtin.command: git commit -m "Init repo. Have fun!"
  args:
    chdir: "{{ repo_src }}"
  ignore_errors: true

- name: Source Gitea endpoints
  block:
  - include_role:
      name: gitea
      tasks_from: source-endpoints
    when: gitea_internal_endpoint is not defined
  - set_fact:
      git_endpoint: "http://{{ git_username }}:{{ git_password }}@{{ gitea_internal_endpoint | regex_replace('http://', '') }}/{{ git_org }}/{{ git_repo }}"
  when: git_remote == "gitea"

- name: Source Gitlab endpoints
  block:
  - include_role:
      name: gitlab
      tasks_from: source-endpoints
    when: gitlab_internal_endpoint is not defined
  - set_fact:
      git_endpoint: "http://{{ git_username }}:{{ git_password }}@{{ gitlab_internal_endpoint | regex_replace('http://', '') }}/{{ git_org }}/{{ git_repo }}"
  when: git_remote == "gitlab"

- block:
    - name: "Add remote {{ git_remote }}"
      ansible.builtin.command: "git remote add {{ git_remote }} {{ git_endpoint }}"
      args:
        chdir: "{{ repo_src }}"
  rescue:
    - name: "Set remote {{ git_remote }}"
      ansible.builtin.command: "git remote set-url {{ git_remote }} {{ git_endpoint }}"
      args:
        chdir: "{{ repo_src }}"

- name: "Publish repo"
  ansible.builtin.command: "git push {{ git_remote }} main"
  args:
    chdir: "{{ repo_src }}"
