        jobs:            
          - script: >
              folder('canary')
          - script: >
              pipelineJob('canary/1. Build images') {
                definition {
                  cpsScm {
                    scriptPath('jenkins/canary/01_build_images.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('canary/2. Monaco') {
                definition {
                  cpsScm {
                    scriptPath('jenkins/canary/02_monaco.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('canary/3. Deploy') {
                parameters {
                  stringParam('IMAGE_NAME', 'ace/simplenodeservice', 'The image name of the service to deploy.')
                  stringParam('IMAGE_TAG', '', 'The image tag of the service to deploy.')
                  stringParam('CANARY_WEIGHT', '0', 'Weight of traffic that will be routed to service.')
                  booleanParam('IS_CANARY', false, 'Is canary version of service?')
                }
                definition {
                  cpsScm {
                    scriptPath('jenkins/canary/03_deploy.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('canary/4. Generate Load') {
                definition {
                  cpsScm {
                    scriptPath('jenkins/canary/04_generate_load.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              folder('quality-gate')
          - script: >
              pipelineJob('quality-gate/1. Build') {
                parameters {
                  choiceParam('BUILD', ['1','2','3','4'], 'Select the build you want to deploy (affects application behavior, github.com/grabnerandi/simplenodeservice for more details)')
                }
                definition {
                  cpsScm {
                    scriptPath('jenkins/build.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('quality-gate/2. Deploy') {
                parameters {
                  stringParam('APP_NAME', 'simplenodeservice', 'The name of the service to deploy.')
                  stringParam('TAG_STAGING', '', 'The image of the service to deploy.')
                  stringParam('BUILD', '', 'The version of the service to deploy.')
                  stringParam('ART_VERSION', '', 'The artefact version and hash to deploy.')
                }
                definition {
                  cpsScm {
                    scriptPath('jenkins/deployStaging.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('quality-gate/3. Test') {
                parameters {
                  stringParam('APP_NAME', 'simplenodeservice', 'The name of the service to deploy.')
                  stringParam('BUILD', '', 'The version of the service to deploy.')
                  stringParam('ART_VERSION', '', 'The artefact version and hash to deploy.')
                  choiceParam('QG_MODE', ['yaml','dashboard'], 'Use yaml or dashboard for QG')
                }
                definition {
                  cpsScm {
                    scriptPath('jenkins/test.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('quality-gate/4. Deploy production') {
                parameters {
                  stringParam('APP_NAME', 'simplenodeservice', 'The name of the service to deploy.')
                  stringParam('TAG_STAGING', '', 'The image of the service to deploy.')
                  stringParam('BUILD', '', 'The version of the service to deploy.')
                  stringParam('ART_VERSION', '', 'The artefact version and hash to deploy.')
                }
                definition {
                  cpsScm {
                    scriptPath('jenkins/deployProd.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('quality-gate/Monitoring as Code') {
                definition {
                  cpsScm {
                    scriptPath('jenkins/mac.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              folder('demo-appsec')
              description('Check out {{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}/src/branch/main/demo/appsec for more information')
          - script: >
              pipelineJob('demo-appsec/1. Build') {
                parameters {
                  choiceParam('BUILD', ['1','2','3','4','5'], 'Select the build you want to deploy (affects application behavior, github.com/grabnerandi/simplenodeservice for more details)')
                }
                definition {
                  cpsScm {
                    scriptPath('jenkins/appsec/build.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('demo-appsec/2. Deploy') {
                parameters {
                  stringParam('APP_NAME', 'simplenodeservice', 'The name of the service to deploy.')
                  stringParam('TAG_STAGING', '', 'The image of the service to deploy.')
                  stringParam('BUILD', '', 'The version of the service to deploy.')
                  stringParam('ART_VERSION', '', 'The artefact version and hash to deploy.')
                }
                definition {
                  cpsScm {
                    scriptPath('jenkins/appsec/deployStaging.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('demo-appsec/3. Test') {
                parameters {
                  stringParam('APP_NAME', 'simplenodeservice', 'The name of the service to deploy.')
                  stringParam('BUILD', '', 'The version of the service to deploy.')
                  stringParam('ART_VERSION', '', 'The artefact version and hash to deploy.')
                  choiceParam('QG_MODE', ['yaml','dashboard'], 'Use yaml or dashboard for QG')
                }
                definition {
                  cpsScm {
                    scriptPath('jenkins/appsec/test_appsec.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('demo-appsec/4. Deploy production') {
                parameters {
                  stringParam('APP_NAME', 'simplenodeservice', 'The name of the service to deploy.')
                  stringParam('TAG_STAGING', '', 'The image of the service to deploy.')
                  stringParam('BUILD', '', 'The version of the service to deploy.')
                  stringParam('ART_VERSION', '', 'The artefact version and hash to deploy.')
                }
                definition {
                  cpsScm {
                    scriptPath('jenkins/appsec/deployProd.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }
          - script: >
              pipelineJob('demo-appsec/Monitoring as Code') {
                definition {
                  cpsScm {
                    scriptPath('jenkins/appsec/mac.Jenkinsfile')
                    scm {
                      git {
                          remote { 
                            url('{{ ingress_protocol }}://{{ git_domain }}/{{ hot_devops_org }}/{{ hot_devops_simplenode_repo_name }}')
                            credentials('git-creds-ace')
                          }
                          branch('*/main')
                      }
                    }
                    lightweight()
                  }
                }
              }