controller:
  tag: {{ jenkins_version }}
  numExecutors: 2
  admin:
    existingSecret: jenkins-admin
    userKey: jenkins_username
    passwordKey: jenkins_password
  ingress:
    enabled: true
    hostName: jenkins.{{ ingress_domain }}
    annotations:
      kubernetes.io/ingress.class: public
  jenkinsUrlProtocol: {{ ingress_protocol }}
  installPlugins:
    - command-launcher:1.6
    - kubernetes:1.30.11
    - kubernetes-credentials-provider:0.20
    - workflow-job:2.42
    - workflow-aggregator:2.6
    - credentials-binding:1.27
    - git:4.10.0
    - google-oauth-plugin:1.0.6
    - google-source-plugin:0.4
    - performance:3.20
    - github-branch-source:2.11.3
    - job-dsl:1.78.1
    - pipeline-build-step:2.15
    - docker-plugin:1.2.3
    - blueocean:1.25.2
    - configuration-as-code:1.55
    - http_request:1.12
    - pipeline-utility-steps:2.11.0
    - ansible:1.1
    - gitea:1.4.1
  installLatestPlugins: false
  JCasC:
    enabled: true
    defaultConfig: true
    configScripts:
      jenkins-node-config: |
        jenkins:
          agentProtocols:
          - "JNLP4-connect"
          - "Ping"
          systemMessage: Welcome to the ACE BOX CI\CD server.  This Jenkins is configured and managed 'as code'.
          globalNodeProperties:
          - envVars:
              env:
              - key: "INGRESS_PROTOCOL"
                value: "{{ ingress_protocol | default(None) }}"
              - key: "INGRESS_DOMAIN"
                value: "{{ ingress_domain | default(None) }}"
              - key: "DOCKER_REGISTRY_URL"
                value: "{{ docker_registry_url | default(None) }}"
              - key: "GIT_PROTOCOL"
                value: "{{ ingress_protocol | default(None) }}"
              - key: "GIT_DOMAIN"
                value: "{{ git_domain | default(None) }}"
              - key: "SYNTH_NODE_ID"
                value: "{{ dt_synthetic_node_id | default(None) }}"
{% if demo_default|default(False) == True or demo_appsec|default(False) == True %}
              - key: "GIT_ORG_DEMO"
                value: "{{ git_org_demo | default(None) }}"
              - key: "GIT_REPO_DEMO"
                value: "{{ git_repo_demo | default(None) }}"
              - key: "KEPTN_ENDPOINT"
                value: "{{ ca_endpoint | default(None) }}"
              - key: "KEPTN_BRIDGE"
                value: "{{ ca_bridge | default(None) }}"
              - key: "CA_ENDPOINT"
                value: "{{ ca_endpoint | default(None) }}"
              - key: "CA_BRIDGE"
                value: "{{ ca_bridge | default(None) }}"
              - key: "KUBE_API_ENDPOINT"
                value: "{{ kubernetes_api_endpoint | default(None) }}"
{% endif %}
      library-config: |
        unclassified:
          globalLibraries:
            libraries:
            - name: "keptn-library"
              retriever:
                modernSCM:
                  scm:
                    git:
                      remote: "https://github.com/keptn-sandbox/keptn-jenkins-library.git"
                      traits:
                      - "gitBranchDiscovery"
            - name: "ace"
              retriever:
                modernSCM:
                  scm:
                    git:
                      remote: "https://github.com/dynatrace-ace/dynatrace-jenkins-library.git"
                      traits:
                      - "gitBranchDiscovery"
            - name: "jenkinstest"
              retriever:
                modernSCM:
                  scm:
                    git:
                      remote: "https://github.com/dynatrace-ace/jenkins-test-library"
                      traits:
                      - "gitBranchDiscovery"

      credentials-config: |
        credentials:
          system:
            domainCredentials:
{% if demo_default|default(False) == True or demo_appsec|default(False) == True or demo_autorem|default(False) == True %}
              - credentials:
                - usernamePassword:
                    id: "git-creds-ace"
                    scope: GLOBAL
                    description: "Git credentials"
                    username: "{{ git_username | default(None) }}"
                    password: "{{ git_password | default(None) }}"
                - personalAccessTokenImpl:
                    id: "git-access-token"
                    scope: GLOBAL
                    token: "{{ git_access_token | default(None) }}"
                - string:
                    id: "KUBE_BEARER_TOKEN"
                    scope: GLOBAL
                    description: "Dynatrace Operator Kubernetes token"
                    secret: "{{ dt_operator_kube_bearer_token | default(None) }}"
                - string:
                    id: "CA_API_TOKEN"
                    scope: GLOBAL
                    description: "Cloud Automation api token"
                    secret: "{{ ca_api_token | default(None) }}"
                - string:
                    id: "DT_TENANT_URL"
                    scope: GLOBAL
                    description: "Dynatrace environment URL"
                    secret: "{{ dynatrace_tenant_url | default(None) }}"
                - string:
                    id: "DT_API_TOKEN"
                    scope: GLOBAL
                    description: "Dynatrace api token"
                    secret: "{{ dynatrace_api_token | default(None) }}"
{% endif %}

      clouds-container-config: |
        jenkins:
          clouds:
          - kubernetes:
              name: "ACE"
              containerCapStr: "10"
              jenkinsTunnel: "jenkins-agent:50000"
              jenkinsUrl: "http://jenkins:8080"
              maxRequestsPerHostStr: "32"
              serverUrl: "https://kubernetes.default"
              templates:
{% include 'container-nodejs.yml.j2' %}

{% include 'container-ace.yml.j2' %}

{% include 'container-kubegit.yml.j2' %}
{% if demo_default|default(False) == True %}

      demo-default-jobs-config: |
{% include 'demo-default-jobs.yml.j2' %}
{% endif %}
{% if demo_appsec|default(False) == True %}

      demo-appsec-jobs-config: |
{% include 'demo-appsec-jobs.yml.j2' %}
{% endif %}
{% if demo_autorem|default(False) == True %}

      demo-autorem-jobs-config: |
{% include 'demo-autorem-jobs.yml.j2' %}
{% endif %}
